@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.App {
  min-height:100vh;
  display: flex;
  flex-direction: column;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  font-size: 20px;
}

button {
  background-color: transparent;
  border: 2px solid darkgreen;
  color: darkgreen;
  font-size: 1rem;
  font-family: inherit;
  max-width: 100px;
  padding: 0.5rem 0.5rem;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: steelblue;
}

.container {
  margin: 0 auto;
  max-width: 600px;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
}

.form input {
  display: block;
  width: 100%;
  height: 25px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
button {
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #f9b625;
  color: white; /* buttons across app have same color as nav bar. DarkGreen*/
}
h1, h2, h3, h4, h5, h6 {
  color: #4CAF50;
  font-family: 'Poppins', sans-serif;
  border-bottom: 2px solid #4CAF50; /* Add bottom border */
  padding-bottom: 10px; /* Padding below the title */
  margin-bottom: 30px; /* Space below the title */
  width: fit-content; /* Adjust width to fit the content */
  margin-left: auto; /* Center align the title */
  margin-right: auto;
}
